
/* Fondo de la página */
body {
    background-color: #1E1E1E;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

/* Personalización de botones */
.stButton>button {
    background-color: #ff4b4b;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Personalización del cuadro de búsqueda */
.stTextInput>div>div>input {
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ff4b4b;
}

/* Títulos */
.stMarkdown {
    font-size: 20px;
    font-weight: bold;
}

/* Contenedor de resultados */
div[data-testid="stTable"] {
    background-color: #292929;
    border-radius: 10px;
}
